<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    Welcome to {{ title }}!
  </h4>
  </div>
<div >
  <canvas #lineChart width="1200" height="400">{{ chart }}</canvas>
  </div> 

  <button  mat-button  mat-raised-button color="accent" class="mt-24" style="margin: 10px;  height: 45px" (click)="imageData()">
    <span>Download</span>
</button>
<button  mat-button  mat-raised-button color="accent" class="mt-24" style="margin: 10px;  height: 45px" (click)="downLoadFile()">
  <span>Download CSV</span>
</button>
<button  mat-button  mat-raised-button color="accent" class="mt-24" style="margin: 10px;  height: 45px" (click)="download_excel()()">
  <span>Download Excel</span>
</button>

